<div class="col-xs-12">
    <div class="page-header">
        <h3>
          <span class="openings">Product List</span> 
        </h3>
        <p>Displaying The Product list we saved for you from Cloudonix</p>
    </div>
        
    <div class="carousel slide" id="myCarousel">
        <div [ngClass]="intro ? 'carousel-inner intro' : 'carousel-inner afterIntro'">
          <div [ngClass]="i==0 ? 'item active':'item'" *ngFor="let in of counter();let i=index">
            <ul class="thumbnails">
                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let product of fillProducts(i*4)">
                      <div class="fff">
                        <div class="thumbnail">
                          <h4><span class="pIndex">#{{product.id}}</span><span #pName [contentEditable]="edit===product.id" [ngClass]="edit===product.id ? 'editable':'nEditable'">{{product.name}}</span></h4>
                        </div>
                        <div class="caption orderByHeight">
                          <p title='sku is not editable'>SKU: {{product.sku}}</p>
                          <p>Price: <span #cost [contentEditable]="edit===product.id" [ngClass]="edit===product.id ? 'editable':'nEditable'">{{product.cost}}</span></p>
                          <a class="btn btn-mini" (click)="showList.includes(product.id) ? showList.splice(showList.indexOf(product.id),1) : showList.push(product.id)">» Description</a>
                          <p [hidden]="!showList.includes(product.id)" style="padding-left:25px;"><span #description [contentEditable]="edit===product.id" [ngClass]="edit===product.id ? 'editable':'nEditable'">{{product.description}}</span></p>
                          <div class="row deBtns">
                            <app-edit-product (edit)="editProductEvent($event)" [product]="product" [productId]="product.id" [pName]="pName.textContent" [description]="description.textContent " [cost]="cost.textContent" [isEdit]="edit===product.id"></app-edit-product>
                            <app-delete-product (viewDelete)="deleteProductEvent($event)" [product]="product" ></app-delete-product>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul> 
            </div>
          </div>
	  <nav>
			<ul class="control-box pager">
				<li><a data-slide="prev" href="#myCarousel" (click)="paging()" class="pArrows" ><i class="glyphicon glyphicon-chevron-left"></i></a></li>
				<li><a data-slide="next" href="#myCarousel" (click)="paging()" class="pArrows"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        <li><a routerLink="/login" title="Logout" id="logout" class="btn btn-danger pull-left">Logout</a></li>
        <li><app-create-product (doneCreate)="createProductEvent($event)" id="createBtn" class="pull-right"></app-create-product></li>
      </ul>
    </nav>
	   <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
</div><!-- /.col-xs-12 -->          