#logout {
    color: #a02318;
    border-color: #ffb1aa;;
}

#logout:hover {
    color: #ffb1aa;
    border-color: #a02318;
}

.editable {
    border-radius: 5px;
    outline:1px solid Lavender;
}

@keyframes initList {
    from {padding: 0;}
    to {padding: 0 70px;}
}

.pArrows {
    margin-left:70px;
    margin-right:70px;
}

.intro {
    margin-top: 30px;
    margin-bottom: 60px;
    animation-name: initList;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    left: 47%;
    transform: translate(-50%, 0%);
}


.afterIntro { 
    padding: 0 70px;
    margin-top: 30px;
    margin-bottom: 60px;
    left: 47%;
    transform: translate(-50%, 0%);
}

.createBtn {
padding:50px;
}

.logout {
padding:50px;
}

.deBtns {
    margin: 80px 10px;
    margin-bottom: 5px;
}

.centerItems {
    padding: 0 10px;
}

.centered {
    margin: 0;
    position: absolute;
    left: 48%;
    transform: translate(-50%, 0%);
}


img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.fff {
    border:1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 40px;
}

.pIndex {
    float: left;
    padding-right: 7px;
    background-color: #eaeae1;
    border-radius: 25px;
}

.thumbnail {
    height: 100px;
    text-align: center;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px;
    border:1px solid lightgray;
    border-radius: 5px;
    overflow: auto;
}

/* Page Header */
.page-header {
background: #f9f9f9;
    margin-left: -15px;
    margin-right: -15px;
    padding: 40px 10px;
    margin-top: 0;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
    text-transform: uppercase;

}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: center;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
    color:black;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
