<div class="col-xs-12">

    <div class="page-header">
        <h3>Product List</h3>
        <button (click)="createProduct()" class="btn btn-primary" style="float:right;">Create a new Product</button>
        <p>Product list for authorization code -- 'code'</p>
    </div>
        
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
          <div [ngClass]="i==0 ? 'item active':'item'" *ngFor="let in of counter();let i=index">
            <ul class="thumbnails">
                    <li class="col-sm-3" *ngFor="let product of fillProducts(i*4)">
                      <div class="fff">
                        <div class="thumbnail">
                          <h4><span class="pIndex">#{{product.id}}</span><span #pName [contentEditable]="edit===product.id" [ngClass]="edit===product.id ? 'editable':'nEditable'">{{product.name}}</span></h4>
                        </div>
                        <div class="caption orderByHeight">
                          <p title='sku is not editable'>SKU: {{product.sku}}</p>
                          <p>Price: <span #cost [contentEditable]="edit===product.id" [ngClass]="edit===product.id ? 'editable':'nEditable'">{{product.cost}}</span></p>
                          <a class="btn btn-mini" (click)="showList.includes(product.id) ? showList.splice(showList.indexOf(product.id),1) : showList.push(product.id)">» Description</a>
                          <p [hidden]="!showList.includes(product.id)" style="padding-left:25px;"><span #description [contentEditable]="edit===product.id" [ngClass]="edit===product.id ? 'editable':'nEditable'">{{product.description}}</span></p>
                          <div class="row" style="margin:1px;">
                            <button (click)="edit=product.id" class="btn btn-light col-md-3" style="float:left;">Edit</button>
                            <button (click)="updateProduct(product, pName.textContent, description.textContent , cost.textContent);edit=-1" class="btn btn-success col-md-3 centered" *ngIf="edit===product.id">Save</button>
                            <button (click)="removeProduct(product)" class="btn btn-danger col-md-3" style="float:right;">Delete</button>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul> 
            </div>
          </div>
	  <nav>
			<ul class="control-box pager">
				<li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
				<li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
			</ul>
		</nav>
	   <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.col-xs-12 -->          

<!-- <a class="btn btn-lg btn-primary btn-danger" routerLink="/login" >Logout</a>

<h2>Products</h2>
<div class="card w-50" *ngFor="let product of products">
  <div class="card-body">
  <button (click)="showList.includes(product.id) ? showList.pop(product.id) : showList.push(product.id)" ><h3 class="card-title">{{product.id}} - {{product.name}}</h3></button>
      <ul *ngIf="showList.includes(product.id)" class="list-group list-group-flush">
          <button (click)="updateProduct(product,description.textContent,cost.textContent);edit=-1" class="btn btn-light " *ngIf="edit===product.id">Edit - Save Changes</button>
          <div [ngClass]="edit===product.id ? 'editable':'nEditable'">
            <li>Description: <span #description [contentEditable]="edit===product.id">{{product.description}}</span></li>
            <li>Cost: <span #cost [contentEditable]="edit===product.id">{{product.cost}}</span></li>
          </div>
            <li>SKU: <span title='sku is not editable'>{{product.sku}}</span></li>
          <button (click) ="removeProduct(product)"class="btn btn-danger">Delete</button>
          <button (click)="edit=product.id" class="btn btn-light">Edit</button>
      </ul>  
    <hr>
  </div>
</div>  
<br><br><br> -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ added to integrate -->

