.editable {
    border-radius: 5px;
    outline:1px solid Lavender;
}

.centered {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.fff {
    border:1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 40px;
}

.pIndex {
    float: left;
    padding-right: 7px;
    background-color: #eaeae1;
    border-radius: 25px;
}

.thumbnail {
    height: 100px;
    text-align: center;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px;
    border:1px solid lightgray;
    border-radius: 5px;
    overflow: auto;
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 10px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: center;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
